.App {
  text-align: center;
  margin-top: 50px;
}

button {
  margin: 10px;
  font-size: 30px;
  cursor: pointer;
}

h1, h2 {
  color: #333;
  font-family: Arial, sans-serif;
}

p {
  font-size: 20px;
  font-weight: bold;
}

div {
  margin: 20px;
}
